<mapper namespace="userMapper">

  <select id="selectOne" resultType="com.frametest.pojo.User" paramType="com.frametest.com.frametest.pojo.User">
    select *from user where id=#{id}
  </select>


  <select id="selectList" resultType="com.frametest.pojo.User">
    select *from user
  </select>



</mapper>